<po-page-list
  #poPageList
  p-title="Programação e planejamento SIMATEC"
  [p-actions]="actions"
  [p-disclaimer-group]="disclaimerGroup"
  [p-filter]="filterSettings"
>
  <po-table
    [p-selectable]="true"
    [p-single-select]="true"
    [p-sort]="true"
    [p-striped]="true"
    [p-columns]="planningColumns"
    [p-items]="planning"
  >
  </po-table>
</po-page-list>

<po-modal #advancedFilterModal p-title="Busca avançada" [p-primary-action]="advancedFilterPrimaryAction">
  <po-checkbox-group
    name="situation"
    [(ngModel)]="situation"
    p-label="Situação da programação:"
    [p-options]="statusOptions"
  >
  </po-checkbox-group>
</po-modal>

<po-modal
  #newPlanning
  p-title="Nova programação"
  [p-primary-action]="newPlanningPrimaryAction"
  [p-secondary-action]="closePlanningSecondaryAction"
>
  <!-- {{ dynamicForm?.value | json }} -->
  <!-- {{ dynamicForm?.form?.status| json }} -->
  <po-dynamic-form
    #dynamicForm
    p-auto-focus="description"
    [p-fields]="fields"
  >
  </po-dynamic-form>
</po-modal>
