<po-page-list
  #poPageList
  p-title="Programação e planejamento SIMATEC"
  [p-actions]="actions"
  [p-breadcrumb]="breadcrumb"
  [p-disclaimer-group]="disclaimerGroup"
  [p-filter]="filterSettings"
>
  <po-table
    [p-selectable]="true"
    [p-single-select]="true"
    [p-sort]="true"
    [p-striped]="true"
    [p-columns]="planningColumns"
    [p-items]="planningFiltered"
  >
  </po-table>
</po-page-list>

<po-modal #advancedFilterModal p-title="Advanced filter" [p-primary-action]="advancedFilterPrimaryAction">
  <po-checkbox-group name="concluded" [(ngModel)]="concluded"  p-label="Concluído" [p-options]="statusOptions">
  </po-checkbox-group>
</po-modal>
